<h4 class="title">
  <app-icon [icon]="'UsersRound'"/>
  Usuarios
</h4>
<div class="grid grid-cols-1 gap-4">
  <div class="col-span-1">
    <div class="card">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full text-left text-sm font-light text-surface">
              <thead class="border-b border-b-neutral-300 font-medium">
              <tr>
                <th class="px-6 py-4" scope="col">Nombre</th>
                <th class="px-6 py-4" scope="col">Apellido</th>
                <th class="px-6 py-4" scope="col">Email</th>
                <th class="px-6 py-4" scope="col">Rol</th>
                <th class="px-6 py-4" scope="col">Estado</th>
                <th class="px-6 py-4" scope="col">Creado</th>
              </tr>
              </thead>
              <tbody>
              <tr class="border-b border-b-neutral-200/50">
                <td class="whitespace-nowrap px-6 py-4">1</td>
                <td class="whitespace-nowrap px-6 py-4">Mark</td>
                <td class="whitespace-nowrap px-6 py-4">Otto</td>
                <td class="whitespace-nowrap px-6 py-4">1</td>
                <td class="whitespace-nowrap px-6 py-4">Mark</td>
                <td class="whitespace-nowrap px-6 py-4">Otto</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
