<h4 class="title">
  <app-icon [icon]="'Store'" />
  Entidades
</h4>
<div class="grid grid-cols-1 gap-4">
  <div class="col-span-1">
    <div class="card">
      <div class="flex justify-end">
        <button [routerLink]="'/admin/entity/create'" class="btn btn-primary">Crear entidad</button>
      </div>
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Email</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Creado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                @for (entity of entities(); track entity.entityId) {
                  <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.clients.length }}</td>
                    <td>{{ entity.staff.length }}</td>
                    <td>{{ entity.services.length }}</td>
                    <td>{{ entity.appointments.length }}</td>
                    <td>{{ entity.isActive }}</td>
                    <td>{{ entity.createdAt | date }}</td>
                    <td>
                      <button
                        [routerLink]="`/admin/entity/edit/${entity.entityId}`"
                        class="btn btn-icon btn-primary"
                      >
                        <app-icon [icon]="'Pencil'" />
                      </button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
