<div class="flex justify-center items-center h-screen w-full">
  <div class="card flex flex-col gap-8">
    <h1 class="mb-2">Login</h1>
    <form (ngSubmit)="login()" [formGroup]="form()" class="flex flex-col gap-6">
      <div class="flex flex-col gap-4">
        <app-form-control
          [controlName]="'email'"
          [form]="form()"
          [label]="'Email'"
          [type]="'email'"
        />
        <app-form-control
          [controlName]="'password'"
          [form]="form()"
          [label]="'Contraseña'"
          [type]="'password'"
        />
      </div>
      <button class="btn btn-primary">Iniciar sesión</button>
      <p class="text-center"><a href="#" class="link">Olvidaste tu contraseña?</a></p>
    </form>
  </div>
</div>
