@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import 'tailwindcss';

@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0.002 247.839);
  --color-base-300: oklch(93% 0.032 255.585);
  --color-base-content: oklch(37% 0.044 257.287);
  --color-primary: oklch(70% 0.165 254.624);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(93% 0.032 255.585);
  --color-secondary-content: oklch(62% 0.214 259.815);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "@tailwindcss/forms" {
  strategy: 'base';
}

:root {
  /* Fonts */
  --default-font-family: 'Lexend Deca', Arial, sans-serif;
  --default-font-color: #030712;
  --default-font-size: 16px;

  /* Container */
  --default-container: 96rem;

  /* Colors */
  --primary: #1447e6;
  --primary-light: #51a2ff;
  --primary-dark: #193cb8;
}

@theme {
  --default-font-family: var(--default-font-family);
}

@layer base {
  :host {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  :host::-webkit-scrollbar {
    display: none;
  }
}

* {
  font-family: var(--default-font-family), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overscroll-behavior-y: contain;
}

@layer components {
  .navbar-button {
    @apply text-center text-3xl shadow-md flex justify-center items-center h-14 w-14 leading-none rounded-2xl;

    &.active {
      @apply bg-primary/30;
    }
  }
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium tracking-tight;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}
