<h4 class="title">
  <app-icon [icon]="'LayoutDashboard'" />
  Dashboard
</h4>
<div class="grid grid-cols-2 gap-4">
  <div class="col-span-1">
    <div class="card flex flex-col gap-4">
      <div>
        <p><b>Clientes</b></p>
      </div>
      <div class="grow relative">
        @if (loading()) {
          <app-loader class="loader-absolute" />
        }
        <h2>{{ dashboard().userCount }}</h2>
      </div>
    </div>
  </div>
  <div class="col-span-1">
    <div class="card flex flex-col gap-4">
      <div>
        <p><b>Entidades</b></p>
      </div>
      <div class="grow relative">
        @if (loading()) {
          <app-loader class="loader-absolute" />
        }
        <h2>{{ dashboard().entityCount }}</h2>
      </div>
    </div>
  </div>
</div>
