@if (loading()) {
  <app-loader />
} @else {
  <app-container [gap]="'gap-4'">
    <div class="col-span-12">
      <h4>Agendar nueva cita</h4>
    </div>

    <div class="col-span-12">
      <div class="flex flex-col gap-4">
        <app-input-form [controlName]="'service'" [form]="form()" [label]="'Servicio'" />
        <app-input-form [controlName]="'startTime'" [form]="form()" [label]="'Nombre'" />
        <app-input-form [controlName]="'endTime'" [form]="form()" [label]="'Nombre'" />
      </div>
    </div>
  </app-container>
}
