<app-container [gap]="'gap-4'">
  @if (loading()) {

  } @else {
    <div class="col-span-12">
      <h4>{{ petDetail()?.name }}</h4>
    </div>

    <div class="col-span-12">
      <div class="flex flex-col gap-4">
        <app-input-form
          [controlName]="'name'"
          [form]="form()"
          [label]="'Nombre'"
        />
        <app-input-form
          [controlName]="'breed'"
          [form]="form()"
          [label]="'Raza'"
        />
        <app-input-form
          [controlName]="'sex'"
          [form]="form()"
          [label]="'Sexo'"
          [options]="PetSex | keyvalue"
          [type]="'select'"
        />
      </div>
    </div>
  }
</app-container>
